.jumbotron {
  padding-top: 6rem;
  background-color: rgb(38, 191, 218);
}

#Skill {
  backgound-color: #0099ff;
}

/* ===== Google Font Import - Poppins ===== */
@import url ("https://fonts.googleapis.com/css2?family=Poopins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  padding-top: 5rem;
}
