.jumbotron {
  padding-top: 6rem;
  background-color: #010718;
}

#Skill {
  backgound-color: #010718;
}

footer {
  background-color: black;
}

section {
  padding-top: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg: #000000;
}

body h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

h3 ul {
  position: relative;
  left: -20px;
  text-align: center;
  display: flex;
  gap: 30px;
}

h3 ul li {
  position: relative;
  list-style: none;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

h3 ul li:hover {
  z-index: 10000;
  transform: scale(0.75);
}

h3 ul li:before {
  content: " ";
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
  transition: 0.5s;
}

h3 ul li:hover::before {
  inset: 0px;
}
h3 ul li::after {
  content: " ";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(45deg);
}

h3 ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  z-index: 10;
  font-size: 1.7em;
  transition: 0.5s;
}

h3 ul li:hover a {
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

footer .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
}

h1 {
  font-family: "Pacifico", cursive;
  font-family: "Sedgwick Ave Display", cursive;
}

body nav div a {
  font-family: "Kalam", cursive;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

/* === Google font import . Poppins ==== { Animasi } */

.coba {
  overflow: hidden;
}

.coba .textcoba {
  position: relative;
  color: aqua;
  font-size: 30px;
  font-weight: 300;
}

.coba .textcoba.first-text {
  color: #fff;
}

.textcoba.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}
